body{
    display: grid;
    grid-template-columns: minmax(300px, auto) 1fr;
    grid-template-areas: "navbar maindoc";
  }
  
  #nav-bar{
    position: fixed;
    grid-area: nav-bar;
    border-right: solid;
    width: 300px;
    top: 0px;
    left: 0px;
    height: 100%;
  }
  
  #nav-bar header{
    text-align: center;
    margin: 10px;
  }
  
  #nav-bar a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 30px;
  }
  
  #nav-bar li{
    list-style: none;
    position: relative;
    border-top: 1px solid black;
    width: 100%;
  }
  
  #nav-bar ul {
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  #main-doc{
    grid-area: maindoc;
    margin-left: 10px;
  }
  
  header{
    font-size: 25px;
    font-weight: bold;
  }
  
  code{
    background-color: gray;
  }